{% block grid_widget %}
    {% block grid %}
        <table class="grid">
            {% for line in board.grid %}
                <tr>
                    {% for cell in line %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
    {% block moves %}
        <table class="moves">
            <tr>
                {% for move, link in board.validMoves %}
                        <td><a href="{{ link }}">{{ move }}</a> </td>
                {% endfor %}
            </tr>
        </table>
    {% endblock %}
{% endblock %}
